<html>

<head>
  <link rel="stylesheet" type="text/css" href="../static/css/test.css" /> 
</head>


<body>

<h1 class="center"> What are some of my favorite films?</h1>


<div id="imageDiv">

  <ul>
    <li><a target="_blank" href="https://www.facebook.com/">Facebook</a></li>
    <li><a target="_blank" href="https://www.google.com/">Google</a></li>
    <li><a target="_blank" href="https://www.twitter.com/">Twitter</a></li>
    <li><a  href="https://www.reddit.com/">Reddit</a></li>
    <li><a target="_blank" href="https://www.cnn.com/">CNN</a></li>
    <li><a target="_blank" href="http://www.aljazeera.com/">Al Jazeera</a></li>
    <li><a target="_blank" href="http://www.lemonde.fr/">Le monde</a></li>
    <li><a target="_blank" href="https://www.ndtv.com/">NDTV</a></li>


  </ul>
</div>

<h3 class="center"> They're all Palestinian! </h3>

<table>
  <tr>
    <th>Film</th>
    <th>Director</th> 
    <th>Year</th>
  </tr>
  <tr>
    <td>Wedding in Galilee</td>
    <td>Michel Khleifi</td> 
    <td>1987</td>
  </tr>

  <tr>
    <td>Omar</td>
    <td>Hany Abu-Assad</td> 
    <td>2013</td>
  </tr>

</table>
</body>
</html>